{% extends "plantilla2.html" %}
{% block content%}
	<form action="buscar" method="post">
	<p>Buscar Restaurantes:</p>
	<input type = "text" name="name">
	<input type="submit" value="Buscar">
	</form>
	<br>
	<table style="width:180%">
                <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Direccion</th>
                </tr>

		{% for i in lista %}
		<tr>
			<td>{{i.nombre}}</td>
			<td>{{i.tipo}}</td>
			<td>{{i.direccion}}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
