{% extends "plantilla2.html" %}
{% block content%}
	<div id="container" style="width:100%; height:400px;"></div>
<script>
$(function () { 
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Estadisticas'
        },
        xAxis: {
            categories: ['Restaurantes']
        },
        yAxis: {
            title: {
                text: 'Numero de total'
            }
        },
        series: [{
            name: 'Bakery',
            data: [{{datos1}}]
        }, {
            name: 'Patatas',
            data: [{{datos2}}]
        }]
    });
});
</script>
{% endblock %}
